/.vscode
/main.exe
/ab.c
/arrint.cpp
/arrint.exe
/arrsum.cpp
/arrsum.exe
/arsum.cpp
/as.c
/bubsort.cpp
/bubsort.exe
/cd.py
/class.cpp
/class.exe
/concat.cpp
/concat.exe
/cube.cpp
/cube.exe
/exp.cpp
/exp.exe
/feature.h5
/grap.py
/graph.py
/graphtool.py
/GUI
/index.html
/man.cpp
/man.exe
/max.cpp
/new.cpp
/new.exe
/new.ino
/q1.cpp
/q2.cpp
/q2.exe
/rev.cpp
/rev.exe
/reverse.cpp
/reverse.exe
/selsort.cpp
/selsort.exe
/std.cpp
/std.exe
/stl.txt
/stringComp.cpp
/stringComp.exe
/sub.cpp
/sub.exe
/swap.cpp
/swap.exe
/t.py
/test.exe
/truck.cpp
/truck.h
/ts.py
/vow.cpp
/vow.exe